<%= simple_form_for @event do |f| %>
<%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select a category") %>
<%= f.input :title, label: "Event Title" %>
<%= f.input :lokasi %>
<%= f.input :jenis %>
<%= f.input :deskripsi %>
<%= f.button :submit %>
<% end %>
